
/*

prebaci u neku od layouta ili komponentu
.hero-image {
    background-image: url("../../images/hero_image.svg");
    background-color: aqua;
    height: 700px;
    background-size: cover;
    position: relative;
}
.nav-logo {
    height: 140px;
    width: 120px;
}
.paragraphs {
    padding: 2rem;
}
.paragraph1 {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 60%;
}
.paragraph2 {
    width: 60%;
}
.image {
    padding: 2rem;
    background-color: #F7F7F2;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.img-description {
    text-align: center;
    font-size: small;
}

*/
