.m {
    &-1 {
        margin: 1rem;
    }
    &y-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    &x-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &-2 {
        margin: 2rem;
    }
    &y-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    &x-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.p-8 {

    padding: 8px;
}
