@use "../abstracts/" as *;
.header {
    position: relative;

    .nav-bar {
        
    }


}
/*.nav-bar {
    position: absolute;
}
.buttons {
    position: absolute;
}
.description {
    font-size: $fs-64;
    position: absolute;
    left: 61px;
    top: 370px;
}*/
